<div layout-gt-md="row" layout="column" layout-fill flex="auto">
    <div class="md-padding" flex="40">
        <div class="md-whiteframe-2dp" >
            <md-toolbar>
              <div class="md-toolbar-tools">
                  <span>{{admin.title}} Item</span>
              </div>
            </md-toolbar>
            <md-content>
                <form name="itemDetails" ng-submit="$event.preventDefault()" class="md-padding">
                    <md-input-container class="md-block">
                      <label>Name</label>
                      <input md-maxlength="30" required name="displayName" ng-model="admin.item.displayName">
                      <div ng-messages="itemDetails.displayName.$error">
                        <div ng-message="required">A name is required.</div>
                        <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
                      </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                      <label>Price</label>
                      <input required name="price" type="number" min="0" ng-model="admin.item.price">
                      <div ng-messages="itemDetails.price.$error">
                        <div ng-message="required">Please specify a price.</div>
                      </div>
                    </md-input-container>
                    <md-button class="md-raised md-primary" ng-click="admin.save(); itemDetails.$setPristine()">Save</md-button>
                    <md-button class="md-raised md-primary" ng-click="admin.newItem(); itemDetails.$setPristine()">New</md-button>
                </form>
            </md-content>
        </div>
    </div>
    <div class="md-padding" flex="60">
        <div class="md-whiteframe-2dp" >
            <md-toolbar>
              <div class="md-toolbar-tools">
                  <span>Items</span>
              </div>
            </md-toolbar>
            <md-content>
              <md-list>
                <md-list-item class="md-3-line" ng-repeat="item in admin.items.collection">
                <md-icon class="md-warn" ng-click="admin.delete($event, item)" aria-label="Delete" md-font-set="material-icons">delete</md-icon>
                  <div class="md-list-item-text">
                    <h3>{{item.displayName}}</h3>
                    <h4>${{item.price}}</h4>
                  </div>
                  <md-icon class="md-secondary" ng-click="admin.editItem(item)" aria-label="Edit" md-font-set="material-icons">mode_edit</md-icon>
                  <md-divider></md-divider>
                </md-list-item>
              </md-list>
            </md-content>
        </div>
    </div>
</div>
