<div class="row summary" ng-show="{{admin.totalTakings.days[admin.today]}}">
	<h2>Todays Current summaries</h2>

	<div layout="row" layout-align="space-around center" layout-wrap layout-fill>
		<div class="md-whiteframe-2dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25"><h1 class="md-display-1">Total orders</h1><p class="md-body-1">{{admin.totalTakings.days[admin.today].count}}</p></div>
		<div class="md-whiteframe-2dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25"><h1 class="md-display-1">Total Sales</h1><p class="md-body-1">${{admin.totalTakings.days[admin.today].total}}</p></div>
	</div>
</div>
<div class="row items">
	<h2>COES Sales Report</h2>
	<div class="row list">
		<table class="md-whiteframe-2dp" layout-fill>
			<tr>
				<th>Date</th>
				<th>Order count</th>
				<th>Total Sales</th>
			</tr>
			<tr class="report" ng-repeat="(key, value) in admin.totalTakings.days | orderByDate">
		        <td>{{value.day}}</td>
		        <td>{{value.count}}</td>
		        <td>${{value.total}}</td>
		    </tr>
		    <tr>
		    	<td>Total</td>
		        <td>{{admin.totalTakings.count}}</td>
		        <td>${{admin.totalTakings.total}}</td>
		    </tr>
		</table>
	</div>
</div>
