<div layout-gt-md="row" layout="column">
    <div class="md-padding" flex-gt-sm="40" flex="100">
        <div class="md-whiteframe-2dp" >
            <md-toolbar>
              <div class="md-toolbar-tools">
                  <span>Order for {{ctrl.customer.displayName}}</span>
              </div>
            </md-toolbar>
            <md-content>
              <div class="md-padding">
                <p class="md-body-1">{{ctrl.customer.phone}}<br /> {{ctrl.customer.address1}}, {{ctrl.customer.suburb}}</p>
                <md-datepicker ng-model="ctrl.order.time" md-placeholder="Enter date"></md-datepicker>
              </div>
              <md-list>
                <md-list-item class="md-3-line" ng-repeat="item in ctrl.order.items">
                  <form layout="row" layout-wrap ng-submit="$event.preventDefault()">
                    <md-icon flex="10" class="md-warn" ng-click="ctrl.order.removeItem($index)" aria-label="Delete" md-font-set="material-icons">delete</md-icon>
                    <h3 flex="45">{{item.item.displayName}}</h3>
                    <md-input-container flex="45">
                      <label>Price</label>
                      <input name="price" type="number" min="0" ng-model="item.cost">
                    </md-input-container>
                    <md-input-container flex="100">
                      <label>Notes</label>
                      <textarea ng-model="item.notes" columns="3" md-maxlength="150" rows="1"></textarea>
                    </md-input-container>
                  </form>
                  <md-divider></md-divider>
                </md-list-item>
              </md-list>
              <span></span><md-button ng-if="ctrl.order.items.length > 0" class="md-raised md-primary" ng-click="ctrl.saveOrder()">{{ctrl.orderBtnText}}</md-button>
            </md-content>
        </div>
    </div>
    <div class="md-padding" flex-gt-sm="60" flex="100">
        <div class="md-whiteframe-2dp" >
            <md-toolbar>
              <div class="md-toolbar-tools">
                  <span>Add Items</span>
              </div>
            </md-toolbar>
            <md-content >
                <form name="itemSelector" ng-submit="$event.preventDefault()" class="md-padding" layout-wrap layout="row">
                    <div class="md-padding">
                        <md-autocomplete
                          ng-disabled="ctrl.itemPicker.disabled"
                          md-no-cache="ctrl.itemPicker.cache"
                          md-selected-item="ctrl.itemPicker.selectedItem"
                          md-search-text-change="ctrl.itemPicker.onSearchTextChange(ctrl.itemPicker.searchText)"
                          md-search-text="ctrl.itemPicker.searchText"
                          md-selected-item-change="ctrl.itemPicker.onSelectedItemChange(item)"
                          md-items="item in ctrl.itemPicker.querySearch(ctrl.itemPicker.searchText)"
                          md-item-text="item.displayName"
                          md-min-length="0"
                          placeholder="Enter menu item number">
                            <md-item-template>
                              <span md-highlight-text="ctrl.itemPicker.searchText" md-highlight-flags="^i">{{item.displayName}} - ${{item.price}}</span>
                            </md-item-template>
                            <md-not-found>
                              No matching menu item "{{ctrl.itemPicker.searchText}}"
                            </md-not-found>
                        </md-autocomplete>
                    </div>
                    <div>
                      <md-input-container class="md-block">
                        <label>Quantity</label>
                        <input required name="quantity" type="number" value="1" ng-model="ctrl.quantity">
                        <div ng-messages="itemSelector.quantity.$error">
                          <div ng-message="required">This is required.</div>
                        </div>
                      </md-input-container>
                    </div>
                    <md-button class="md-raised md-primary" ng-click="ctrl.addItem()">Add</md-button>
                </form>
            </md-content>
        </div>
    </div>
</div>
