<div layout="column" layout-fill>
    <div class="md-padding">
        <div class="md-whiteframe-2dp" >
            <md-toolbar>
              <div class="md-toolbar-tools">
                  <span>Order</span>
              </div>
            </md-toolbar>
            <md-content>
              <md-list>
                <md-list-item class="md-3-line" ng-repeat="item in ctrl.order.items">
                  <div class="md-list-item-text">
                    <h3>{{item.item.displayName}}</h3>
                    <h4>${{item.cost}}</h4>
                    <p>{{item.notes}}</p>
                  </div>
                  <md-divider></md-divider>
                </md-list-item>
                <md-list-item class="md-3-line">
                  <div class="md-list-item-text">
                    <h3>Total: ${{ctrl.order.total}}</h3>
                  </div>
                  <md-divider></md-divider>
                </md-list-item>
              </md-list>
              <div layout="row">
                  <md-button class="md-raised md-primary" ng-click="ctrl.edit()">Edit</md-button>
                  <md-button class="md-raised md-primary" ng-click="ctrl.done()">Done</md-button>
              </div>
            </md-content>
        </div>
    </div>
</div>
