<div layout-gt-md="row" layout="column" layout-fill flex="auto">
<div class="md-padding" flex="40">
        <div class="md-whiteframe-2dp">
            <md-toolbar >
              <div class="md-toolbar-tools">
                  <span>{{ctrl.customerFormHeader}}</span>
              </div>
            </md-toolbar>
            <md-content>
              <div class="md-padding">
                <form name="customerDetails" layout="column" class="layout-align-start-stretch">
                  <md-input-container class="md-block">
                    <label>Name</label>
                    <input md-maxlength="30" required name="displayName" ng-model="ctrl.customerDetails.displayName">
                    <div ng-messages="customerDetails.displayName.$error">
                      <div ng-message="required">This is required.</div>
                      <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
                    </div>
                  </md-input-container>
                  <md-input-container class="md-block">
                    <label>Phone</label>
                    <input required type="tel" name="phone" ng-model="ctrl.customerDetails.phone"
                            minlength="10" maxlength="10" ng-pattern="/^0[0-8]\d{8}$/g" >
                    <div ng-messages="customerDetails.phone.$error">
                      <div ng-message="required">This is required.</div>
                      <div ng-message-exp="['pattern', 'minlength', 'maxlength']">
                        Phone number must be 10 characters long and look like an phone number.
                      </div>
                    </div>
                  </md-input-container>
                  <md-input-container class="md-block">
                    <label>Address Line One</label>
                    <input required type="text" name="address1" ng-model="ctrl.customerDetails.address1">
                    <div ng-messages="customerDetails.address1.$error">
                      <div ng-message="required">This is required.</div>
                    </div>
                  </md-input-container>
                  <md-input-container class="md-block">
                    <label>Address Line Two</label>
                    <input name="address2" ng-model="ctrl.customerDetails.address2" >
                  </md-input-container>
                  <md-input-container class="md-block">
                    <label>Suburb</label>
                    <input required name="suburb" ng-model="ctrl.customerDetails.suburb">
                    <div ng-messages="customerDetails.suburb.$error">
                      <div ng-message="required">This is required.</div>
                    </div>
                  </md-input-container>
                  <md-button class="md-raised md-primary" ng-if="ctrl.edit" ng-click="ctrl.newCustomer()">New</md-button>
                  <md-button class="md-raised md-primary" ng-click="ctrl.save()">Save</md-button>
                </form>
              </div>
            </md-content>
        </div>
    </div>
    <div class="md-padding" flex="60">
        <div class="md-whiteframe-2dp" >
            <md-toolbar>
              <div class="md-toolbar-tools">
                  <span>Find Existing Customer</span>
              </div>
            </md-toolbar>
            <md-content>
                <form ng-submit="$event.preventDefault()" class="md-padding">
                    <md-autocomplete
                      ng-disabled="ctrl.input.disabled"
                      md-no-cache="ctrl.input.cache"
                      md-selected-item="ctrl.input.selectedItem"
                      md-search-text-change="ctrl.input.onSearchTextChange(ctrl.input.searchText)"
                      md-search-text="ctrl.input.searchText"
                      md-selected-item-change="ctrl.input.onSelectedItemChange(item)"
                      md-items="item in ctrl.input.querySearch(ctrl.input.searchText)"
                      md-item-text="item.phone"
                      md-min-length="0"
                      placeholder="Enter customer phone number">
                        <md-item-template>
                          <span md-highlight-text="ctrl.input.searchText" md-highlight-flags="^i">{{item.displayName}} - {{item.phone}}</span>
                        </md-item-template>
                        <md-not-found>
                          No matching customer "{{ctrl.input.searchText}}"
                        </md-not-found>
                    </md-autocomplete>
                    <md-button class="md-raised md-primary" ng-if="ctrl.customerPicked" ng-click="ctrl.order()">Order</md-button>
                </form>
            </md-content>
        </div>
    </div>
    
</div>
