<div layout="column" layout-fill>
    <div class="md-padding">
        <div class="md-whiteframe-2dp" >
            <md-toolbar>
              <div class="md-toolbar-tools">
                  <span>Unpaid Orders</span>
              </div>
            </md-toolbar>
            <md-content>
              <md-list>
                <md-list-item  class="secondary-button-padding" class="md-2-line" ng-repeat="order in ctrl.orders.unpaidOrders">
                  <md-checkbox ng-model="order.isPaid" aria-label="Paid"></md-checkbox>
                  <div class="md-list-item-text">
                      <p>{{ctrl.customers.collection[order.customer].displayName}} - {{ctrl.customers.collection[order.customer].phone}}</p>
                      <p>{{ctrl.customers.collection[order.customer].address1}}, {{ctrl.customers.collection[order.customer].suburb}}</p>
                      <p>{{order.time  | date:'MMM d, y'}}</p>
                      <h2 class="md-title">${{order.total}}</h2> 
                  </div>
                  <md-divider></md-divider>
                </md-list-item>
              </md-list>
            </md-content>
        </div>
    </div>
</div>
