$gray: #eee;

md-content.md-default-theme {
  background-color: $gray;
}
md-card {
  background-color: #fff;
  h2:first-of-type {
    margin-top: 0;
  }
}
md-toolbar {
  .md-button.md-default-theme {
    border-radius: 99%; // round toolbar buttons
  }
}
h2 {
  font-weight: 400;
}
.md-toolbar-tools-bottom {
  font-size: small;
  & :last-child {
    opacity: 0.8;
  }
}
md-toolbar:not(.md-hue-1),
.md-fab {
  fill: #fff;
}
md-sidenav {
  fill: #737373;
  ng-md-icon {
    position: relative;
    top: 5px; // adjust for svg viewbox
  }
}
.user-avatar {
  border-radius: 99%;
}

.row.summary>div>div {
    padding: 0px 20px;
    margin-top: 10px;
    background: aliceblue;
    text-align: center;
    p {

    }
}

.row.items table {
  border-spacing: 0;
  //margin:0 auto;
  tr {
    border-spacing: 0;
    border-bottom: 1px solid #D4D4D4;
    th {
      padding: 20px 40px;
    }
    td {
      text-align: center;
      padding: 20px;
      border-right: 1px solid #D4D4D4;
      border-bottom: 1px solid #D4D4D4;

      &:last-child {
        border-right: none;
      }
    }

    &:first-child {
      background-color: rgb(33,150,243);
      color: #FFF;
      td {
        border-bottom: none;
      }
    }
    &:last-child {
      td {
        border-bottom: none;
      }
    }
  }
}

// FIX FOR DATEPICKER in version 0.11.4 - https://github.com/angular/material/issues/5170
.md-datepicker-calendar, .md-datepicker-input-mask-opaque {
    background: rgb(255,255,255);
}


.md-calendar-date.md-calendar-selected-date .md-calendar-date-selection-indicator, .md-calendar-date.md-focus.md-calendar-selected-date .md-calendar-date-selection-indicator {
      background: rgb(33,150,243);
      color: rgb(255,255,255);
      border-color: transparent;
}

.md-calendar-date-selection-indicator:hover {
      background: rgb(224,224,224);
}

.md-calendar-day-header {
      background: rgb(224,224,224);
      color: rgba(0,0,0,0.87);
}

.md-calendar-date-disabled, .md-calendar-month-label-disabled {
      color: rgba(0,0,0,0.26);
}
